# Virtual envs
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/
.build/
pip-wheel-metadata/



# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# FastAPI / tests
*.log
.pytest_cache/
.coverage
htmlcov/

# Env & secrets
.env
.env.*
!.env

# Docker
**/.dockerignore
